<h1>Edit a Workout</h1>
<%= @error %>

<form action="/workouts/<%=@workout.id%>/edit" method="POST">
  <input type="hidden" name="_method" value="patch">
  <label>Workout Date:</label>
  <input type="text" name="workout[date]">

  <br>
  <br>
   <% @excercises.each do |e| %>
    <li>
    <input type="checkbox" name="excercise_ids[]" value=<%= e.id %>><%= e.name %>  Value = <%=e.value%>
    </li>
       
  <%end%>

<input type="submit" value=" Submit Change ">
</form>

