<h1>Create a New Workout</h1>
<%= @error %>

<form action="/workouts" method="POST">
  <label>Workout Date:</label>
  <input type="text" name="date"><br>
  <br>
  <% @excercises.each do |e| %>
    <li>
    <input type="checkbox" name="excercise_ids[]" value=<%= e.id %>><%= e.name %>  Value = <%=e.value%>
    </li>
    <li>
    Quantity:<input type="number" id="quantity" name="quantity[]" value=0>
    </li><br>
    <input type="hidden" name="value[]" value=<%= e.value %>>  
  <%end%>


<input type="submit" value="Create Workout">
</form>
