<h1>Create a New Workout</h1>
<%= @error %>

<form action="/workouts" method="POST">
  <label>Workout Date:</label>
  <input type="text" name="date"><br>
  <br>
  <% @excercises.each do |e| %>
    <li>
    <input type="checkbox" name="excercise[name]" value=<%= e.name %>><%= e.name %>  Value = <%=e.value%>
    </li>
    <li>
    <input type="hidden" name= "excercise[value]" value=<%= e.value %>>
     
    </li>
    <li>
    Quantity:<input type="number" id="quantity" name="excercise[quantity]">
    </li><br>
    
  <%end%>




<input type="submit" value="Create Workout">
</form>
